*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 128, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 90%;
    width: 90%;
    background-color: white;
    display: flex;
}
.control-panel{
    width:50%;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.game-board{
    padding: 100px;
    width: 50%;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
}
.board-tile{
    flex-basis: 33.333333%;
    background-color: green;
    width: auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.player{
    margin: 10px 0;
}
#start-btn{
    margin-bottom: 10px;
}