@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;
  background-image: url(./img/xo_img.png);
  background-repeat: repeat;
  font-family: "Finger Paint";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bcg-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
}

.container {
  min-width: 625px;
  height: 60%;
  width: 45%;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.inner {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}
.inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 30px #5c0a5f;
          box-shadow: 10px 10px 30px #5c0a5f;
}

.face-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(279deg, #731251 10.6%, #1c1c1c 118%);
}

.face-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: linear-gradient(99deg, #731251 10.6%, #1c1c1c 118%);
}

.control-panel {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-board {
  position: relative;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#freeze {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tile {
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.tile:nth-child(n+1) {
  border-top: none;
}
.tile:nth-child(3n+1) {
  border-left: none;
}
.tile:nth-child(3n+3) {
  border-right: none;
}
.tile:nth-child(n+7) {
  border-bottom: none;
}

.player {
  margin: 10px 0;
}

button {
  margin-top: 10px;
  height: 2.6em;
  width: 10em;
  font-family: "Finger Paint";
  border-radius: 5em;
  cursor: pointer;
}

input {
  height: 2em;
  width: 12em;
  font-family: "Finger Paint";
  border-radius: 5em;
  padding-left: 20px;
}
input:focus {
  outline: none;
}

@media (max-width: 625px) {
  .container {
    min-width: 0;
    height: 100%;
    width: 100%;
  }

  .face {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }

  .face-back {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }

  .control-panel {
    width: 100%;
    height: 30%;
  }

  .game-board {
    width: 100%;
    height: 70%;
  }
}
@media (orientation: landscape) and (max-width: 824px) {
  .container {
    min-width: 0;
    height: 100%;
    width: 100%;
  }

  .face {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */